.navbar {
  width: 100%;
  height: 4rem;
  background: #252525;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  margin: 0 4rem;
}

.nav-button {
  cursor: pointer;
  display: inline-block;
  border: 2px red solid;
  padding: 1rem 2rem;
  color: #f8f8f8;
  text-transform: uppercase;
}

.nav-button:hover {
  background-color: rgba(255,255,255,0.5);
}
